<div class="general__text--style">
    
    <p>{{location.country}}</p>
    <p>{{location.name}}</p>
    <p>{{location.tz_id}}</p>
    <p>{{current.temp_c}}</p>
    <p><span>Visibility</span>{{current.vis_km}}-km</p>
    <p>{{current.condition.text}}</p>
    {{!-- {{#each condition}} --}}
    {{!-- {{/each}} --}}
</div>